<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.1', {packages: ['line']});
      google.setOnLoadCallback(drawChart);
  
      function drawChart() {
  
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date/Time');
        data.addColumn('number', 'Depth');
        data.addRows({{ data.row_data| safe }});
  
        var options = {
          chart: {
            title: 'Well Depth',
            subtitle: 'Well #1'
          },
          width: 900,
          height: 500,
          hAxis: {slantedText:true, slantedTextAngle:45}
  
        };
  
        var chart = new google.charts.Line(document.getElementById('linechart_material'));
  
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  
  <div id="linechart_material"></div>
  
  </body>
  </html>